{% extends "base.twig" %}

{% block title %}CRYPTONEWS{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}/assets/css/styles.css"/>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 data-cy="home__welcomeMsg">Hello {{ username }}!</h1>

    <a href = "/sign-in"> LOGIN </a>
    <a href = "/sign-up"> REGISTER</a>
    <a href = "/news"> NEWS </a>
    <a href = "/mkt"> MARKET UPDATES </a>

{% endblock %}